.header {
  font-family: "Bitter", serif;
  text-align: center;
  font-size: 65px;
  margin: 0 auto;
  padding: 40px;
  color: #ffff;
  letter-spacing: 5px;
}
p {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 30px;
  color: #ffff;
  padding: 20px;
}
footer {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  padding: 20px;
}
.front {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(https://www.telegraph.co.uk/content/dam/eip/walt-disney-world/magic-kingdom.jpg?imwidth=680);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  max-width: 90%;
  margin: 10px;
  margin-left: 70px;
  border-radius: 10px;
}
